<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="style.js"></script>
    <!-- ajouter une icone onglet -->
    <link rel="icon" href="../img/chef.png" />
    <title>Pizza Land</title>
</head>

<body data-spy="scroll" data-target=".navbar">

    <header>
        </div>
        <nav class=" sticky-top navbar navbar-expand-lg navbar-dark menu_navbar bg-dark menu-navbar-light"
            id="menu-navbar">
            <div class="container-fluid">
                <a href="accueil" class="pull-left"><img src="../img/logo.png" style="height: 120px;"></a>

                <!-- <a class="navbar-brand" href="index.html">Pizza <span>Land</span></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav"
                    aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="menu-nav">
                    <ul class="navbar-nav m-auto">
                        <li id="nospiz" class="nav-item"><a href="pizzas" class="nav-link">Nos Pizzas</a></li>
                        <li id="entree" class="nav-item"><a href="entree" class="nav-link">Entrées</a></li>
                        <li id="dessert" class="nav-item"><a href="desserts" class="nav-link">Desserts</a></li>
                        <li id="bbtn" class="nav-item"><a href="boissons" class="nav-link">Boissons</a></li>
                        <li id="nosmen" class="nav-item"><a href="#" class="nav-link">Nos Menus</a></li>
                        <li id="about" class="nav-item"> <a href="about" class="nav-link"> About </a></li>
                        <li id="contact" class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                    </ul>
                    <button type="button" class="btn btn-light"><span class="bi bi-person-fill"></span></button>
                </div>
                <!-- <a href="#" class="pull-right"><img src="../img/logo.png" style="height: 120px;"></a> -->
            </div>

        </nav>

    </header>

    <!-- <section id="carte"> -->
    <div class="container-fluid">
        <div id="contenu" class="row">
            <section class="home" id="acceuil">
                <div class="home-content">
                    <div class="inner-content">
                        <h3>Bienvenue sur Pizza Land</h3>
                        <p> La meilleure pizza près de chez vous</p> <a href="pizzas"><button class="btn">Découvrir
                            </button></a>

                    </div>
                    <div class="inner-content-img animButton"><img src="../img/pizza.png" alt="img"></div>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div class="copyright">
            <p>Copyright © 2022 Pizza Land</p>
            <div class="social"><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i
                    class="bi bi-instagram"></i><i class="bi bi-youtube"></i></div>
        </div>
    </footer>



</body>

</html>