<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <link rel="stylesheet" href="../style.css">
    <script src="personalize.js"></script>
    <link rel="icon" href="../img/chef.png" />
    <title>Pizza Land</title>
</head>

<body data-spy="scroll" data-target=".navbar">

    <header>
        </div>
        <nav class=" sticky-top navbar navbar-expand-lg navbar-dark menu_navbar bg-dark menu-navbar-light"
            id="menu-navbar">
            <div class="container-fluid">
                <a href="accueil" class="pull-left"><img src="../img/logo.png" style="height: 120px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav"
                    aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="menu-nav">
                    <ul class="navbar-nav m-auto">
                        <li id="nospiz" class="nav-item active"><a href="pizzas" class="nav-link">Nos Pizzas</a></li>
                        <li id="entree" class="nav-item"><a href="entree" class="nav-link">Entrées</a></li>
                        <li id="dessert" class="nav-item"><a href="desserts" class="nav-link">Desserts</a></li>
                        <li id="bbtn" class="nav-item"><a href="boissons" class="nav-link">Boissons</a></li>
                        <li id="nosmen" class="nav-item"><a href="#" class="nav-link">Nos Menus</a></li>
                        <li id="about" class="nav-item"> <a href="about" class="nav-link"> About </a></li>
                        <li id="contact" class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                    </ul>
                    <button type="button" class="btn btn-light"><span class="bi bi-person-fill"></span></button>
                </div>
            </div>

        </nav>

    </header>

    <div class="container-fluid">
        <div id="contenu" class="row">
            <div id="menBoiss" class="col-sm-12">
                Je compose ma pizza
            </div>


            <div id="pizza_size" class="row cl-sm-12 col-md-9 col-lg-8 col-xl-9">
                <div class="perso_size col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center photo">

                    <img class="card-img-top" src="../img/M.png" alt="Card image cap">
                    <h5 class="card-title">Taille <span class="size">M</span></h5>
                    <p class="card-text">A partir de <span class="price_from">10 </span>€</p>

                </div>
                <div class=" perso_size col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center photo">
                    <img class="card-img-top" src="../img/L.png" alt="Card image cap">
                    <h5 class=" card-title"><span class="size">L</span></h5>
                    <p class="card-text">A partir de <span class="price_from">12 </span>€</p>

                </div>
                <div class="perso_size col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center photo">
                    <img class="card-img-top" src="../img/XL.png" alt="Card image cap">
                    <h5 class="card-title"><span class="size">XL</span>L</h5>
                    <p class="card-text">A partir de <span class="price_from">14 </span>€</p>

                </div>
            </div>

            <div id="base_pizza" class=" row cl-sm-12 col-md-9 col-lg-8 col-xl-9">
                <% for(var i=0;i<3;i++){ %>
                    <div class="perso_base col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center photo">
                        <img src=<%=`img/base${i}.jpg` %>>
                        <div class="base_name">
                            <%= nom[i] %>
                        </div>
                    </div>
                    <% } %>
            </div>

            <div id="ingredients" class="row col-sm-12 col-md-9 col-lg-8 col-xl-9">
                <% for(var i=3;i<nom.length;i++){ %>

                    <div class="perso_ing col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center photo">
                        <img src=<%=`img/i` +(i+1)+`.jpg` %>>
                        <div>
                            <span class="ing_name">
                                <%= nom[i] %>
                            </span>
                            <span class="ing_price"></span>
                        </div>

                        <input class="quantity form-control" type="number" name="quantity" min="1" max="6" value="1">
                        <button class=" add btn btn-success">Ajouter</span></button>
                    </div>
                    <% } %>
            </div>

            <div class="col-md-3 col-lg-4 col-xl-3 col-sm-3">
                <h1 id="panier_title">Ma pizza</h1>
                <nav class="navbar-expand-md navbar navbar-light navbar-expand-md sticky-top">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my_pizza"
                        aria-controls="panier" aria-expanded="false" aria-label="Toggle navigation"
                        style="color:green;">
                        Ma pizza
                    </button>
                    <div id="my_pizza" class="collapse navbar-collapse">
                        <ul>
                            <h5>Ma Pizza:</h5>
                            <span id="compose">
                                <li id="piz_size">Taille :<span id="size"></span>
                                    <button class="edit_size btn-danger bi bi-trash"></button>
                                </li>
                                <li id="piz_base">Base :<span id="base"></span>
                                    <button class="remove_base btn-danger bi bi-trash"></button>
                                </li>

                            </span>
                            <button id="validate" class="btn btn-success">Ajouter au Panier <span class="total"></span>
                                €</button>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>

    </div>

    <footer>
        <div class="copyright">
            <p>Copyright © 2022 Pizza Land</p>
            <div class="social"><i class="bi bi-facebook"></i><i class="bi bi-twitter"></i><i
                    class="bi bi-instagram"></i><i class="bi bi-youtube"></i></div>
        </div>
    </footer>

</body>

</html>